* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* box 1 */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(./image/Amazon.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* box 2 */
.add-funct {
    color: #cccccc;
    font-size: .85rem;
    margin-left: 25px;
}

.add-loc {
    font-size: 1rem;
    margin-left: 0px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search {
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    border-radius: 5px;

}

.Search-Select {
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;

}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd68;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* box 4 */
span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */
.nav-cart i {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3c;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: center; */
}

.panel-option p {
    display: inline;
    margin: 15px;
}

.panel-option {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
}

/* Hero section */
.hero-section {
    /* background-color: rgb(#f0ed46; */
    background-image: url(./image/hero\ image.jpg);
    /* background-image: -moz-linear-gradient( #f0ed46, #ffffff  ) */
    background-size: cover;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 380px;
}

.hero-msg a {
    color: #007185;
}

/* shop-section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 20%; */
    /* background: -webkit-gradient(linear, top,
            bottom, from(#f6fa01), to(#ecece3)); */
    /* height: 200px; */

}

.box {
    /* border: 2px solid black; */
    height: 500px;
    width: 23%;
    position: relative;
    top: -300px;
    /* flex: 1 1 23%; */
    background-color: white;
    padding: 20px 0px 15px;
    margin: 0px 20px;
}

.box-image {
    height: 400px;
    width: 100%;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-image: contain; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    /* margin: 0px 20px */
    margin-left: 10px;
    margin-right: 10px;

}